*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  bottom: 0;

  min-height: 100%;
  margin: 0;

  color: $color-white;
  background: #111111;

  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: black $color-gray;
}

#svg-symbols {
  display: none;
  visibility: hidden;
  opacity: 0;

  width: 0;
  height: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
}


html.is-outline-hidden * {
  outline: none;
}

b,
strong {
  font-weight: bold;
}


html {
  ::selection {
    background-color: #f136ff;
  }
}

img {
  user-select: none;
  user-drag: none;
}

.hidden {
  display: inline;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  width: 0;
  height: 0;
}
