*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  bottom: 0;

  min-height: 100%;
  margin: 0;

  color: $black;

  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

#svg-symbols {
  display: none;
  visibility: hidden;
  opacity: 0;

  width: 0;
  height: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
}


html.is-outline-hidden * {
  outline: none;
}

b,
strong {
  font-weight: bold;
}

img {
  user-select: none;
  user-drag: none;
}

.hidden {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  width: 0;
  height: 0;
}
