.Mainpane {
  overflow: hidden;

  flex: 1 1 auto;


  &[data-state="empty"] {
    .Mainpane_intro {
      display: flex;
    }
  }

  &[data-state="loading"] {
    .Mainpane_loader {
      display: flex;
    }
  }
}

.Mainpane_intro,
.Mainpane_loader {
  display: none;

  justify-content: center;
  align-items: center;

  height: 100%;
}
