html {
  font-family: $font-text;
  font-size: 100%;

  // @include mq(landscape) {
  //   font-size: 0.5vw;
  // }
}

b,
strong {
  font-weight: bold;
}

.h1 {
  font-family: $font-text;
  font-size: rem(80);
  // font-weight: bold;
}

.h2 {
  font-family: $font-text;
  font-size: rem(50);
  // font-weight: bold;
}

.h3 {
  font-family: $font-display;
  font-size: rem(100);
}

.h4 {
  font-family: $font-text;
  font-size: rem(60);
}

.h5 {
  color: $color-white;

  font-family: $font-text;
  font-size: rem(40);
}

.h6 {
  color: $color-gray;

  font-family: $font-text;
  font-size: rem(30);
}

.body {
  @include font-aliasing;

  color: $color-gray;

  font-family: $font-text;
  font-size: rem(22);
  font-weight: lighter;
  line-height: 1.4em;
}
