{% set pageTitle = 'Sketchbook' %}
{% set metaDescription = 'Collection of sketched on web technologies' %}
{% extends 'templates/default.njk' %}

{% block main %}
{% include 'components/mainpane.njk' %}
{% include 'components/sidebar.njk' %}
{% endblock %}
